* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/Assets/images/white-waves.png");
    background-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#headback {
    float: inherit;
    box-sizing: border-box;
    width: auto;
    height: 80px;
    margin: auto;
    background-color: white;
    position: relative;
}

header {
    clear: both;
    box-sizing: border-box;
    width: 960px;
    height: 80px;
    margin: auto;
    background-color: white;
    position: relative;
}

.nav {
    clear: both;
    float: right;
    position: inherit;
    margin-top: 30px;
    margin-right: 30px;
}

.content {
    clear: both;
    width: 960px;
    min-height: 315px;
    background-color: white;
    margin: 20px auto;
}

.name {
    clear: both;
    float: inherit;
    background-color: #4aaaa5;
    height: 75%;
    width: 300px;
    color: white;
    text-align: center;
    padding-top: 20px;
    position: absolute;
}

.container {
    /* put name of link in correct sized pic and have the name be centered on the pic with a teal background color */
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

img {
    clear: both;
    float: left;
    padding: 5px;
}

h2 {
    clear: both;
    color: #4aaaa5;
}

footer {
    height: 20px;
    padding-top: 20px;
    text-align: center;
    color: white;
    background-color: black;
    position: relative;
}

form {
    /* expand text boxes, place everything into a seperate container */
    width: 960px;
    height: auto;
}